.fieldForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--purple-50);
  border: 2px solid var(--purple-500);
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  flex: 1;
  max-width: 550px;
}

.createPostMain {
  padding: 20px;
}

.textLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textInput {
  padding: 2px 5px;
  border: 2px solid var(--purple-200);
  border-radius: 5px;
}

.textareaInput {
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  textarea {
    padding: 2px 5px;
    border: 2px solid var(--purple-200);
    border-radius: 5px;
    height: 100px;
    width: 200px;
    max-width: 300px;
    min-width: 200px;
    min-height: 100px;
    max-height: 300px;
  }
}

.addImgInput {
  padding: 5px;
}
.addImgContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid var(--purple-200);
  padding: 5px;
}
