:root {
  --purple-50: #f9f4fc;
  --purple-100: #e4caf4;
  --purple-200: #cea1ec;
  --purple-300: #b978e3;
  --purple-500: #8f26d3;
  --purple-700: #55167e;
  --purple-900: #1c072a;

  --mint-50: #f4fcf9;
  --mint-200: #a1ecce;
  --mint-300: #78e3b9;
  --mint-500: #26d38f;
  --mint-700: #167e55;
  --mint-900: #072a1c;

  --gold-300: #e8c793;
  --gold-400: #e1b672;
  --gold-500: #dba551;
  --gold-700: #836330;
  --gold-900: #2b2010;

  --red-100: #f66;
  --red-500: #f00;
  --red-900: #900;

  --pink-50: #fcf4f7;
  --pink-200: #eca1be;
  --pink-500: #d3266a;
  --pink-700: #7e163f;
  --pink-900: #2a0715;

  --green-200: #a5e47c;
  --green-500: #6ad326;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.postListMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
