* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.postListMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
