.pointsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-size: 16px;
  }
}

.upvotePost,
.upvoteComment {
  background-color: transparent;
  border: none;

  span {
    color: var(--mint-500);
    pointer-events: none;
  }
}

.downvotePost,
.downvoteComment {
  background-color: transparent;
  border: none;
  span {
    color: var(--pink-500);
    pointer-events: none;
  }
}

.upvotePost:hover,
.downvotePost:hover,
.upvoteComment:hover,
.downvoteComment :hover {
  transform: scale(110%);
}

.upvotePost:active,
.downvotePost:active,
.upvoteComment:active,
.downvoteComment :active {
  transform: scale(110%);
}
