.postList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sortPostContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 550px;
  gap: 20px;
  padding: 10px;
  legend {
    grid-column: 1/3;
  }
}

.sortTypeContainer {
  grid-column: 1/2;
  display: flex;
  gap: 5px;
  flex-direction: column;
  label {
    display: flex;
    max-width: 140px;
    justify-content: space-between;
    gap: 5px;
  }
}

.sortOrder {
  grid-column: 2/3;
  display: flex;
  gap: 5px;
  flex-direction: column;
  label {
    display: flex;
    max-width: 140px;
    justify-content: space-between;
    gap: 5px;
  }
}

.postsActions {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.sortPostForm {
  display: flex;
  justify-content: center;
}
