.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}

.userProfileMain {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsContainer.hide {
  display: none;
}

.postsContainer.hide {
  display: none;
}

.userActions {
  flex: 1;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  select {
    align-self: self-start;
  }
}

.commentList {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .userProfileMain {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .container {
      width: 600px;
    }
  }

  .imgContainer {
    img {
      height: 150px;
      width: 150px;
      border-radius: 75px;
    }
  }
}

.newMemberBtn {
  background-color: var(--gold-300);
  align-self: flex-start;
  border: 2px solid var(--gold-700);
}

.updateBtn {
  align-self: flex-start;
}

.logOutBtn {
  background-color: var(--pink-200);
  align-self: flex-start;
  border: 2px solid var(--pink-500);
}

.adminDasboardBtn {
  align-self: flex-start;
  background-color: transparent;
  border: 2px solid var(--pink-500);
}
