<header>
    <a href="/">Inicio</a>
    <div class="accountOptions">
        <% if (locals.currentUser) { %>
            <a href="/account/logout">Cerrar sesion</a>
            <a href="<%= locals.currentUser.url  %>"><%=locals.currentUser.username  %></a>
        <% }else{ %>
            <a href="/account/sign-up">Registrarse</a>
            <a href="/account/sign-in">Iniciar sesion</a>
        <% } %>
    </div>
</header>