<div class="headerContainer">
    <header>
        <a href="/" class="homeLink">
            <span class="material-symbols-outlined">
            home
            </span>
            Inicio
        </a>
        <div class="accountOptions">
            <% if (locals.currentUser) { %>
                <a class="userInfo" href="<%= locals.currentUser.url %>">
                    <div class="profileImg">
                        <img src="<%= locals.currentUser.img_url%>" alt="">
                    </div>
                    <p><%= locals.currentUser.username %></p>
                </a>
            <% }else{ %>
                <a href="/account/sign-up" class="primaryBtn sign-upBtn">Registrarse</a>
                <a href="/account/sign-in" class="primaryBtn sign-in">Iniciar sesion</a>
            <% } %>
        </div>
    </header>
</div>