<div class="pointsContainer">
    <button type="button"  class="upvoteComment" data-comment_id="<%= element.id %>">Like</button>
    <p class="pointCounter"><%= element.points %></p>
    <button type="button"  class="downvoteComment" data-comment_id="<%= element.id %>">Liken't</button>
</div>