<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/header",{title:"Registro de admin"}) %>
</head>
<body>
    <h1>Ingreso de codigo de admin</h1>
    <form action="" method="post">
        <%- include("textInput",{error:errors.adminCode,value:adminCode,type:"password",
        name:"adminCode", label:"Codigo de admin", placeholder:""}) %>
        <button type="submit">Registrar codigo</button>
    </form>
</body>
</html>