<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Crear nuevo post"}) %>
</head>
<body>
    <%- include("./components/header") %>
    <main class="createPostMain">
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data" class="fieldForm">
                <h1>Crear nuevo post</h1>
                <%- include("textInput",{error:errors.title,name:"title",
                label:"Titulo del post",type:"text",placeholder:"",value:post.title}) %>
                <%- include("textareaInput",{error:errors.content,name:"content",value:post.content,
                    label:"Contenido del post",}) %>
                <label for="img" class="addImgContainer">
                    Agregar imagen al post
                    <input type="file" name="img" id="img" class="addImgInput">
                </label>
                <button type="submit" class="primaryBtn">Crear post</button>
            </form>
        </div>
    </main>
</body>
</html>