<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Lista de posts"}) %>
    <script src="/javascripts/upvotePost.js" defer></script>
    <script src="/javascripts/downvotePost.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main>
        <a href="/blog/posts/create">Crear nuevo post</a>
        <% if (posts.length>0) { %>
            <ul>
                <% posts.forEach(post => { %>
                    <%- include("./components/postItem",{post,dashboard:false}) %>
                <% }) %>
            </ul>
        <% }else{ %>
            <p>No hay posts todavia</p>
        <% } %>
    </main>
</body>
</html>